body{
	padding:20px;
	font-size:15px;
}
div{
	border:1px solid #999;
	display:inline-block;
	overflow: auto;
}
.main{
	padding:20px;
	background-color: #eee;
	width: 97%;
}
.team{
	float:left;
	width:200px;
	background-color: #fff;
	margin-right: 20px;

}
.ins{
	height: 480px;
	max-width:70%;
	min-width: 20%;
	background-color: #fff;
}
.per{
	float:right;
	background-color: #fff;
	margin-left: 20px;
}
img{
	width: 80px;
	height: 80px;
	display: block;
	border:1px solid #999;
	margin:15px;
	margin-bottom: 20px;
	padding:10px;
}