div{
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	overflow: auto;
}
#main{
	width: 95%;
	min-width: 700px;
}
.pic{
	padding: 0;
	width: 80px;
	height: 80px;
}
#left{
	float: left;
	width: 200px;
	margin-right: 20px;
	background-color: #fff;
}
#right{
	float: right;
	margin-left: 20px;
	width: 82px;
	background-color: #fff;
}
#right .pic{
	margin-bottom: 20px;
}
#right .pic:last-child{
	margin-bottom: 0;
}
#center{
	height: 300px;
	background-color: #fff;
}
