*{
	margin:0;
	padding:0;
}
.main{
	height:200px;
	width: 400px;
	background-color: #ccc;

	position:absolute;
	top: 50%;
	left: 50%;
	margin:-100px 0 0 -200px ;
}
.left{
	background-color: #fc0;
	height: 50px;
	width:50px;
	position:absolute;
	border-radius: 0 0 50px 0;

}
.right{
	background-color: #fc0;
	height: 50px;
	width:50px;

	position: absolute;
	border-radius: 50px 0 0 0 ;
	right: 0;
	bottom: 0;

}