<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <my-component @increase='handleAdd'></my-component>
    </div>
    <script>
    Vue.component('my-component',{
        template: '\
        <div>\
            <button @click="handleAdd">+1</button>\
        </div>\
        \
        ',
        data () {
            return {
                counter: 0
            }
        },
        methods: {
            handleAdd () {
                this.counter ++;
                this.$emit('increase', this.counter);
            }
        }
    })
    new Vue ({
        el: '#app',
        methods: {
            handleAdd (val) {
                console.log(val)
            }
        }
    })
    </script>
</body>
</html>