<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test01</title>
	<link rel="stylesheet" href="test01.css">
</head>
<body>
	<div id="demo">
		<button v-on:click="show = !show">
		  Toggle
		</button>
		<transition name="fade">
		  <p v-if="show">hello</p>
		</transition>
	  </div>

	  <div id="example-2">
		<button @click="show = !show">Toggle show</button>
		<transition name="bounce">
		  <p v-if="show">Look at me!</p>
		</transition>
	  </div>

	  <div id="list-demo" class="demo">
		<button v-on:click="add">Add</button>
		<button v-on:click="remove">Remove</button>
		<transition-group name="list" tag="p">
		  <span v-for="item in items" v-bind:key="item" class="list-item">
			{{ item }}
		  </span>
		</transition-group>
	  </div>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="test01.js"></script>
</body>
</html>