<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test01</title>
</head>
<body>
	<ul id="example-1">
		<li v-for="item in items">
			{{ item.message }}
		</li>
	</ul>

	<ul id="example-2">
		<li v-for="(item, index) in items">
			{{ parentMessage }} - {{ index }} - {{ item.message }}
		</li>
	</ul>

	<ul id="repeat-object" class="demo">
		<li v-for="value in object">
			{{value}}
		</li>
	</ul>

	<div>
		<span v-for="n in 10">{{n}}</span>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="test01.js"></script>
</body>
</html>